/* Estilos generales - Modo Claro */
:root {
    --bg-color: #eaecee;
    /* bg-light */
    --text-color: #17202a;
    /* text-dark */
}

/* Modo Oscuro */
body.dark-mode {
    --bg-color: #17202a;
    /* bg-light */
    --text-color: #eaecee;
    /* text-dark */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

