/* Estilos generales - Modo Claro */
:root {
    --bg-color: #eaecee;
    --text-color: #17202a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

[data-theme="dark"] {
    --bg-color: #17202a;
    --text-color: #eaecee;
}


a{
    text-decoration: none;
}
