---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog Inicio">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<i class="bi bi-house"></i> Inicio
		</a>
	</nav>

	<h1>Mi blog con Astro</h1>
</BaseLayout>
