---

---

<button class="btn btn-outline-primary" id="theme-toggle">
    <i class="bi bi-moon"></i> / <i class="bi bi-sun"></i>
</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleTheme = () => {
            const currentTheme =
                document.documentElement.getAttribute("data-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.documentElement.setAttribute("data-theme", newTheme);
            localStorage.setItem("theme", newTheme);
        };

        const savedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", savedTheme);

        document
            .getElementById("theme-toggle")
            .addEventListener("click", toggleTheme);
    });
</script>
